<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect root to /public -->
        <rule name="Redirect root to public" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="public/" />
        </rule>
        <!-- Rewrite all other URLs to /public/{R:1} -->
        <rule name="Rewrite all to public" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
